/*responsive for large screens https://css-tricks.com/optimizing-large-scale-displays/ */

.container-fluid {
  margin: 0 auto;
  max-width: 1024px;
}
#home, #about, #Projects, #contact{
	text-align: center;
	margin-top: 100px;
}
img{
	width: 200px;
	margin-top: 50px;
}
.scontent{
	margin-top: 50px;
	font-family: 'VT323', monospace;
	font-size: 25px;
	font-weight: bold;
}
h1{
	font-family: 'VT323', monospace;
	color: #63FF33;
	font-weight: bold;
}
hr{
	width: 50%;
	color: #28CBE5;
}
.icon{
	width: 30px;
	margin: 40px 30px 0 10px;
}
.rocket{
	width: 150px;
}
.acontent{
	padding: 30px;
}
h2{
	color: #63FF33;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.68);
}
form{
	padding: 30px;
}
label{
	padding: 10px;
}
.flip {
    height: 300px;
    width: 300px;
    margin: 0 auto;
}
.flip img {
    width: 300px;
    height: 300px;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}
em{
	color: white;
}
.page {
  color: #f2f3f7;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  cursor: pointer;
}
